http:
  host:
  port:
  jwtKey:
  expireTime:
  cloudinary:
    name:
    api_key:
    api_secret:
  mail:
    app_password:
    email:
  paypal:
    client_id:
    secret:
    environtment:
  stripe: 
    public_key:
    secret_key:

db:
  mysql:
    host:
    port:
    database:
    dialect:
    username:
    password:

domain:
  client_1: 
    host:
    port:
    reset_password:
